In [1]:
import pandas as pd

In [2]:
df_hpg_res = pd.read_csv("input/hpg_reserve.csv")
df_hpg_store = pd.read_csv("input/hpg_store_info.csv")
df_date_info = pd.read_csv("input/date_info.csv")

In [3]:
df_hpg_res.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

In [4]:
df_hpg_res.dtypes

hpg_store_id        object
visit_datetime      object
reserve_datetime    object
reserve_visitors     int64
dtype: object

In [5]:
df_hpg_res["visit_datetime"] = pd.to_datetime(df_hpg_res["visit_datetime"])
df_hpg_res["reserve_datetime"] = pd.to_datetime(df_hpg_res["reserve_datetime"])
df_hpg_res["visit_date"] = df_hpg_res["visit_datetime"].dt.date
df_hpg_res["reserve_date"] = df_hpg_res["reserve_datetime"].dt.date
df_hpg_res["visit_date_yyyymm"] = df_hpg_res["visit_datetime"].dt.strftime('%Y%m')
df_hpg_res["reserve_date_yyyymm"] = df_hpg_res["reserve_datetime"].dt.strftime('%Y%m')

In [6]:
df_hpg_res.dtypes

hpg_store_id                   object
visit_datetime         datetime64[ns]
reserve_datetime       datetime64[ns]
reserve_visitors                int64
visit_date                     object
reserve_date                   object
visit_date_yyyymm              object
reserve_date_yyyymm            object
dtype: object

In [7]:
df_hpg_res.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,reserve_date,visit_date_yyyymm,reserve_date_yyyymm
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1,2016-01-01,2016-01-01,201601,201601
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3,2016-01-01,2016-01-01,201601,201601
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2,2016-01-01,2016-01-01,201601,201601
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5,2016-01-01,2016-01-01,201601,201601
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13,2016-01-01,2016-01-01,201601,201601

In [8]:
df_hpg_store.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

In [9]:
df_hpg_store["prefecture"] = df_hpg_store["hpg_area_name"].str.split(pat=" ", expand=True)[0]
df_hpg_store["city"] = df_hpg_store["hpg_area_name"].str.split(pat=" ", expand=True)[1]

In [10]:
df_hpg_store.head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude,prefecture,city
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221,Tōkyō-to,Setagaya-ku

In [11]:
df = df_hpg_res.merge(df_hpg_store, how="inner", on="hpg_store_id")

In [12]:
df.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,reserve_date,visit_date_yyyymm,reserve_date_yyyymm,hpg_genre_name,hpg_area_name,latitude,longitude,prefecture,city
0,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3,2016-01-01,2016-01-01,201601,201601,French,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,Hyōgo-ken,Kōbe-shi
1,hpg_dac72789163a3f47,2016-01-02 12:00:00,2016-01-01 20:00:00,2,2016-01-02,2016-01-01,201601,201601,French,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,Hyōgo-ken,Kōbe-shi
2,hpg_dac72789163a3f47,2016-01-03 19:00:00,2016-01-02 15:00:00,2,2016-01-03,2016-01-02,201601,201601,French,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,Hyōgo-ken,Kōbe-shi
3,hpg_dac72789163a3f47,2016-01-06 12:00:00,2016-01-06 08:00:00,2,2016-01-06,2016-01-06,201601,201601,French,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,Hyōgo-ken,Kōbe-shi
4,hpg_dac72789163a3f47,2016-01-10 17:00:00,2016-01-04 22:00:00,3,2016-01-10,2016-01-04,201601,201601,French,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,Hyōgo-ken,Kōbe-shi

In [13]:
df_date_info.dtypes

calendar_date    object
day_of_week      object
holiday_flg       int64
dtype: object

In [14]:
df_date_info["calendar_date"] = pd.to_datetime(df_date_info["calendar_date"])
df_date_info["calendar_date"] = df_date_info["calendar_date"].dt.date

In [15]:
df = df.merge(df_date_info, how="inner", left_on="visit_date", right_on="calendar_date")
df.rename(columns={"day_of_week": "day_of_week_visit"}, inplace=True)
df.rename(columns={"holiday_flg": "holiday_flg_visit"}, inplace=True)

In [16]:
df = df.merge(df_date_info, how="inner", left_on="reserve_date", right_on="calendar_date")
df.rename(columns={"day_of_week": "day_of_week_reserve"}, inplace=True)
df.rename(columns={"holiday_flg": "holiday_flg_reserve"}, inplace=True)

In [17]:
df = df.drop(columns=["calendar_date_x", "calendar_date_y"])

In [18]:
df.head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,reserve_date,visit_date_yyyymm,reserve_date_yyyymm,hpg_genre_name,hpg_area_name,latitude,longitude,prefecture,city,day_of_week_visit,holiday_flg_visit,day_of_week_reserve,holiday_flg_reserve
0,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3,2016-01-01,2016-01-01,201601,201601,French,Hyōgo-ken Kōbe-shi None,34.692109,135.191698,Hyōgo-ken,Kōbe-shi,Friday,1,Friday,1
1,hpg_28bdf7a336ec6a7b,2016-01-01 17:00:00,2016-01-01 15:00:00,2,2016-01-01,2016-01-01,201601,201601,Japanese style,Fukuoka-ken Fukuoka-shi None,33.589806,130.400170,Fukuoka-ken,Fukuoka-shi,Friday,1,Friday,1
2,hpg_28bdf7a336ec6a7b,2016-01-01 18:00:00,2016-01-01 15:00:00,9,2016-01-01,2016-01-01,201601,201601,Japanese style,Fukuoka-ken Fukuoka-shi None,33.589806,130.400170,Fukuoka-ken,Fukuoka-shi,Friday,1,Friday,1
3,hpg_28bdf7a336ec6a7b,2016-01-01 19:00:00,2016-01-01 14:00:00,3,2016-01-01,2016-01-01,201601,201601,Japanese style,Fukuoka-ken Fukuoka-shi None,33.589806,130.400170,Fukuoka-ken,Fukuoka-shi,Friday,1,Friday,1
4,hpg_28bdf7a336ec6a7b,2016-01-01 20:00:00,2016-01-01 18:00:00,3,2016-01-01,2016-01-01,201601,201601,Japanese style,Fukuoka-ken Fukuoka-shi None,33.589806,130.400170,Fukuoka-ken,Fukuoka-shi,Friday,1,Friday,1

In [19]:
df.dtypes

hpg_store_id                   object
visit_datetime         datetime64[ns]
reserve_datetime       datetime64[ns]
reserve_visitors                int64
visit_date                     object
reserve_date                   object
visit_date_yyyymm              object
reserve_date_yyyymm            object
hpg_genre_name                 object
hpg_area_name                  object
latitude                      float64
longitude                     float64
prefecture                     object
city                           object
day_of_week_visit              object
holiday_flg_visit               int64
day_of_week_reserve            object
holiday_flg_reserve             int64
dtype: object

In [20]:
df.isnull().sum()

hpg_store_id           0
visit_datetime         0
reserve_datetime       0
reserve_visitors       0
visit_date             0
reserve_date           0
visit_date_yyyymm      0
reserve_date_yyyymm    0
hpg_genre_name         0
hpg_area_name          0
latitude               0
longitude              0
prefecture             0
city                   0
day_of_week_visit      0
holiday_flg_visit      0
day_of_week_reserve    0
holiday_flg_reserve    0
dtype: int64

In [21]:
df.to_csv("output/recruit_restaurant_visitor.csv", index=False)